{% trans_default_domain 'admin' %}

<hr>

<div class="row">
    {% for image in images %}
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail {{ main is not null and main == image ? 'thumbnail-highlight' }}">
                <img class="img-fluid" src="{{ image_thumb(image, 'admin_preview_big') }}" alt="{{ image.name }}">
                <div class="caption">
                    <p>
                        {{ image.name }}<br>
                        <small class="text-muted">{{ image.width }}x{{ image.height }}px / {{ image.size|filesize }}</small>
                    </p>

                    <div class="btn-group">
                        {% if main is not null and enableSetMain %}
                            <a
                                    href="{{ path('admin_accommodation_set_main_image', {id: object.id, image: image.id}) }}"
                                    class="btn btn-default btn-sm {{ main is not null and main == image ? 'disabled' }}"
                                >
                                <i class="fa fa-eye"></i>
                            </a>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN_IMAGE_EDIT', image) %}
                            <a class="btn btn-default btn-sm" href="{{ path('admin_image_edit', {'id': image.id}) }}">
                                <i class="fa fa-edit"></i>
                            </a>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN_IMAGE_DELETE', image) %}
                            <a class="btn btn-danger btn-sm" href="{{ path('admin_image_delete', {'id': image.id}) }}">
                                <i class="fa fa-remove"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    $(document).ready(function() {
        $(".image-multi-tab-input-file").on('change', function() {
            var filename = $(this).val().split('\\').pop();

            var $inputName = $(this).parents(".box-body:first").find('.image-multi-tab-input-name');
            $inputName.val(filename.replace(/\.[^/.]+$/, ""));
        });
    });
</script>
